In [8]:
import pandas as pd
X=pd.DataFrame(pd.np.array(list(range(5))))
X

   0
0  0
1  1
2  2
3  3
4  4

In [10]:
X=pd.DataFrame(pd.np.random.randn(5))
X

          0
0 -2.039666
1 -0.708979
2 -1.867667
3 -0.631888
4 -0.029595

In [12]:
X=pd.DataFrame(pd.np.random.randn(5)+2)
X

          0
0  3.838049
1  1.072323
2  1.389313
3  1.432807
4  2.274771

In [1]:
_file_

NameError: name '_file_' is not defined

In [2]:
_ _ f i l e _ _

SyntaxError: invalid syntax (<ipython-input-2-75e3129cdef8>, line 1)

In [3]:
__file__

NameError: name '__file__' is not defined

In [4]:
__module__

NameError: name '__module__' is not defined

In [5]:
pwd

'C:\\Users\\manya\\Documents\\Projects\\US stock prices vs volume'