In [1]:
x = [i**2 for i in range(100)]

In [2]:
for y in x:
    print(y)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

In [3]:
for y in enumerate(x):
    print(y)

(0, 0)
(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)
(6, 36)
(7, 49)
(8, 64)
(9, 81)
(10, 100)
(11, 121)
(12, 144)
(13, 169)
(14, 196)
(15, 225)
(16, 256)
(17, 289)
(18, 324)
(19, 361)
(20, 400)
(21, 441)
(22, 484)
(23, 529)
(24, 576)
(25, 625)
(26, 676)
(27, 729)
(28, 784)
(29, 841)
(30, 900)
(31, 961)
(32, 1024)
(33, 1089)
(34, 1156)
(35, 1225)
(36, 1296)
(37, 1369)
(38, 1444)
(39, 1521)
(40, 1600)
(41, 1681)
(42, 1764)
(43, 1849)
(44, 1936)
(45, 2025)
(46, 2116)
(47, 2209)
(48, 2304)
(49, 2401)
(50, 2500)
(51, 2601)
(52, 2704)
(53, 2809)
(54, 2916)
(55, 3025)
(56, 3136)
(57, 3249)
(58, 3364)
(59, 3481)
(60, 3600)
(61, 3721)
(62, 3844)
(63, 3969)
(64, 4096)
(65, 4225)
(66, 4356)
(67, 4489)
(68, 4624)
(69, 4761)
(70, 4900)
(71, 5041)
(72, 5184)
(73, 5329)
(74, 5476)
(75, 5625)
(76, 5776)
(77, 5929)
(78, 6084)
(79, 6241)
(80, 6400)
(81, 6561)
(82, 6724)
(83, 6889)
(84, 7056)
(85, 7225)
(86, 7396)
(87, 7569)
(88, 7744)
(89, 7921)
(90, 8100)
(91, 8281)
(92, 8464)
(93, 8649)
(94, 8836)
(95, 9025)
(96, 9216)
(97, 9409)
(98, 9604)
(99, 9801)

In [4]:
for i,y in enumerate(x):
    print(i)
    print(y)

0
0
1
1
2
4
3
9
4
16
5
25
6
36
7
49
8
64
9
81
10
100
11
121
12
144
13
169
14
196
15
225
16
256
17
289
18
324
19
361
20
400
21
441
22
484
23
529
24
576
25
625
26
676
27
729
28
784
29
841
30
900
31
961
32
1024
33
1089
34
1156
35
1225
36
1296
37
1369
38
1444
39
1521
40
1600
41
1681
42
1764
43
1849
44
1936
45
2025
46
2116
47
2209
48
2304
49
2401
50
2500
51
2601
52
2704
53
2809
54
2916
55
3025
56
3136
57
3249
58
3364
59
3481
60
3600
61
3721
62
3844
63
3969
64
4096
65
4225
66
4356
67
4489
68
4624
69
4761
70
4900
71
5041
72
5184
73
5329
74
5476
75
5625
76
5776
77
5929
78
6084
79
6241
80
6400
81
6561
82
6724
83
6889
84
7056
85
7225
86
7396
87
7569
88
7744
89
7921
90
8100
91
8281
92
8464
93
8649
94
8836
95
9025
96
9216
97
9409
98
9604
99
9801

In [5]:
z = list(enumerate(x))
print(z)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484), (23, 529), (24, 576), (25, 625), (26, 676), (27, 729), (28, 784), (29, 841), (30, 900), (31, 961), (32, 1024), (33, 1089), (34, 1156), (35, 1225), (36, 1296), (37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500), (51, 2601), (52, 2704), (53, 2809), (54, 2916), (55, 3025), (56, 3136), (57, 3249), (58, 3364), (59, 3481), (60, 3600), (61, 3721), (62, 3844), (63, 3969), (64, 4096), (65, 4225), (66, 4356), (67, 4489), (68, 4624), (69, 4761), (70, 4900), (71, 5041), (72, 5184), (73, 5329), (74, 5476), (75, 5625), (76, 5776), (77, 5929), (78, 6084), (79, 6241), (80, 6400), (81, 6561), (82, 6724), (83, 6889), (84, 7056), (85, 7225), (86, 7396), (87, 7569), (88, 7744), (89, 7921), (90, 8100), (91, 8281), (92, 8464), (93, 8649), (94, 8836), (95, 9025), (96, 9216), (97, 9409), (98, 9604), (99, 9801)]

In [6]:
z

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100),
 (11, 121),
 (12, 144),
 (13, 169),
 (14, 196),
 (15, 225),
 (16, 256),
 (17, 289),
 (18, 324),
 (19, 361),
 (20, 400),
 (21, 441),
 (22, 484),
 (23, 529),
 (24, 576),
 (25, 625),
 (26, 676),
 (27, 729),
 (28, 784),
 (29, 841),
 (30, 900),
 (31, 961),
 (32, 1024),
 (33, 1089),
 (34, 1156),
 (35, 1225),
 (36, 1296),
 (37, 1369),
 (38, 1444),
 (39, 1521),
 (40, 1600),
 (41, 1681),
 (42, 1764),
 (43, 1849),
 (44, 1936),
 (45, 2025),
 (46, 2116),
 (47, 2209),
 (48, 2304),
 (49, 2401),
 (50, 2500),
 (51, 2601),
 (52, 2704),
 (53, 2809),
 (54, 2916),
 (55, 3025),
 (56, 3136),
 (57, 3249),
 (58, 3364),
 (59, 3481),
 (60, 3600),
 (61, 3721),
 (62, 3844),
 (63, 3969),
 (64, 4096),
 (65, 4225),
 (66, 4356),
 (67, 4489),
 (68, 4624),
 (69, 4761),
 (70, 4900),
 (71, 5041),
 (72, 5184),
 (73, 5329),
 (74, 5476),
 (75, 5625),
 (76, 5776),
 (77, 5929),
 (78, 6084),
 (79, 6241),
 (80, 6400),
 (81, 6561),
 (82, 6724),
 (83, 6889),
 (84, 7056),
 (85, 7225),
 (86, 7396),
 (87, 7569),
 (88, 7744),
 (89, 7921),
 (90, 8100),
 (91, 8281),
 (92, 8464),
 (93, 8649),
 (94, 8836),
 (95, 9025),
 (96, 9216),
 (97, 9409),
 (98, 9604),
 (99, 9801)]

In [8]:
i,x = zip(*z)
print(i)
print(x)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)
(0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801)

In [9]:
z=zip(i,x)
print(z)

<zip object at 0x000002D98D239388>

In [10]:
print(list(z))

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484), (23, 529), (24, 576), (25, 625), (26, 676), (27, 729), (28, 784), (29, 841), (30, 900), (31, 961), (32, 1024), (33, 1089), (34, 1156), (35, 1225), (36, 1296), (37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500), (51, 2601), (52, 2704), (53, 2809), (54, 2916), (55, 3025), (56, 3136), (57, 3249), (58, 3364), (59, 3481), (60, 3600), (61, 3721), (62, 3844), (63, 3969), (64, 4096), (65, 4225), (66, 4356), (67, 4489), (68, 4624), (69, 4761), (70, 4900), (71, 5041), (72, 5184), (73, 5329), (74, 5476), (75, 5625), (76, 5776), (77, 5929), (78, 6084), (79, 6241), (80, 6400), (81, 6561), (82, 6724), (83, 6889), (84, 7056), (85, 7225), (86, 7396), (87, 7569), (88, 7744), (89, 7921), (90, 8100), (91, 8281), (92, 8464), (93, 8649), (94, 8836), (95, 9025), (96, 9216), (97, 9409), (98, 9604), (99, 9801)]

In [13]:
z=zip(i,x)

In [14]:
for value in z:
    print(value)

(0, 0)
(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)
(6, 36)
(7, 49)
(8, 64)
(9, 81)
(10, 100)
(11, 121)
(12, 144)
(13, 169)
(14, 196)
(15, 225)
(16, 256)
(17, 289)
(18, 324)
(19, 361)
(20, 400)
(21, 441)
(22, 484)
(23, 529)
(24, 576)
(25, 625)
(26, 676)
(27, 729)
(28, 784)
(29, 841)
(30, 900)
(31, 961)
(32, 1024)
(33, 1089)
(34, 1156)
(35, 1225)
(36, 1296)
(37, 1369)
(38, 1444)
(39, 1521)
(40, 1600)
(41, 1681)
(42, 1764)
(43, 1849)
(44, 1936)
(45, 2025)
(46, 2116)
(47, 2209)
(48, 2304)
(49, 2401)
(50, 2500)
(51, 2601)
(52, 2704)
(53, 2809)
(54, 2916)
(55, 3025)
(56, 3136)
(57, 3249)
(58, 3364)
(59, 3481)
(60, 3600)
(61, 3721)
(62, 3844)
(63, 3969)
(64, 4096)
(65, 4225)
(66, 4356)
(67, 4489)
(68, 4624)
(69, 4761)
(70, 4900)
(71, 5041)
(72, 5184)
(73, 5329)
(74, 5476)
(75, 5625)
(76, 5776)
(77, 5929)
(78, 6084)
(79, 6241)
(80, 6400)
(81, 6561)
(82, 6724)
(83, 6889)
(84, 7056)
(85, 7225)
(86, 7396)
(87, 7569)
(88, 7744)
(89, 7921)
(90, 8100)
(91, 8281)
(92, 8464)
(93, 8649)
(94, 8836)
(95, 9025)
(96, 9216)
(97, 9409)
(98, 9604)
(99, 9801)

In [17]:
x = [i for i in range(10)]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
x=[2*i for i in range(10)]
print(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
print(i,x)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99) [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
list(enumerate(x))

[(0, 0),
 (1, 2),
 (2, 4),
 (3, 6),
 (4, 8),
 (5, 10),
 (6, 12),
 (7, 14),
 (8, 16),
 (9, 18)]

In [23]:
i,p=zip(*list(enumerate(x)))

In [24]:
print(i)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [25]:
print(p)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [26]:
zip(i,p,i)

In [27]:
list(zip(i,p,i))

[(0, 0, 0),
 (1, 2, 1),
 (2, 4, 2),
 (3, 6, 3),
 (4, 8, 4),
 (5, 10, 5),
 (6, 12, 6),
 (7, 14, 7),
 (8, 16, 8),
 (9, 18, 9)]

In [28]:
list(zip(i,p))

[(0, 0),
 (1, 2),
 (2, 4),
 (3, 6),
 (4, 8),
 (5, 10),
 (6, 12),
 (7, 14),
 (8, 16),
 (9, 18)]

In [30]:
import pandas as pd

In [35]:
df = pd.DataFrame(list(zip(i,p)), columns=['A','B'],index=range(100,110))

In [36]:
print(df)

     A   B
100  0   0
101  1   2
102  2   4
103  3   6
104  4   8
105  5  10
106  6  12
107  7  14
108  8  16
109  9  18

In [39]:
df.loc[102]

A    2
B    4
Name: 102, dtype: int64

In [41]:
df.iloc[2]

A    2
B    4
Name: 102, dtype: int64

In [42]:
df['A']

100    0
101    1
102    2
103    3
104    4
105    5
106    6
107    7
108    8
109    9
Name: A, dtype: int64

In [43]:
df['B']

100     0
101     2
102     4
103     6
104     8
105    10
106    12
107    14
108    16
109    18
Name: B, dtype: int64