In [3]:
%matplotlib inline
import pandas as pd

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))
#HTML line changes the visualization format of the data frame below

In [5]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [37]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

### How many movies are listed in the titles dataframe?

In [38]:
len(titles)

230621

### What are the earliest two films listed in the titles dataframe?

In [39]:
titles.sort('year').head(2)

C:\Users\manya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                     title  year
176477          Miss Jerry  1894
213694  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [40]:
len(titles[titles.title=='Hamlet'])

18

### How many movies are titled "North by Northwest"?

In [41]:
len(titles[titles.title=='North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [18]:
titles[titles.title=='Hamlet'].sort('year').head(1)

C:\Users\manya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

        title  year
46365  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [20]:
titles[titles.title=='Treasure Island'].sort('year')

C:\Users\manya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

### How many movies were made in the year 1950?

In [22]:
len(titles[titles.year==1950])

1093

### How many movies were made in the year 1960?

In [23]:
len(titles[titles.year==1960])

1496

### How many movies were made from 1950 through 1959?

In [24]:
len(titles[(titles.year>1950)&(titles.year<1959)])

10091

### In what years has a movie titled "Batman" been released?

In [25]:
titles.year[titles.title=='Batman']

55577    1989
74047    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [28]:
len(cast[cast.title=='Inception'])

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [31]:
c=cast
c=c[c.title=='Inception']
c=c[c.n.isnull()]
len(c)

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [33]:
c=cast
c=c[c.title=='Inception']
c=c[c.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [50]:
c=cast
c=c[c.title=="North by Northwest"]
c=c[c.n.notnull()]
c=c.sort('n')
c

C:\Users\manya\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [53]:
c= cast
c=c[(c.year==1972)&(c.title=='Sleuth')]
c=c.sort('n')
c

C:\Users\manya\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [54]:
c= cast
c=c[(c.year==2007)&(c.title=='Sleuth')]
c=c.sort('n')
c

C:\Users\manya\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [55]:
c= cast
c=c[(c.year==1921)&(c.title=='Hemlet')]
len(c)

0

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [56]:
c= cast
c=c[(c.year==1996)&(c.title=='Branagh')]
len(c)

0

### How many "Hamlet" roles have been listed in all film credits through history?

In [57]:
c= cast
len(c[c.character=='Hamlet'])

91

### How many people have played an "Ophelia"?

In [58]:
c= cast
len(c[c.character=='Ophelia'])

111

### How many people have played a role called "The Dude"?

In [59]:
c= cast
len(c[c.character=='The Dude'])

18

### How many people have played a role called "The Stranger"?

In [60]:
c= cast
len(c[c.character=='The Stranger'])

208

### How many roles has Sidney Poitier played throughout his career?

In [68]:
c= cast
c=c[c.character=='Sidney Poitier']
len(c)

1

### How many roles has Judi Dench played?

In [69]:
c= cast
c=c[c.character=='Judi Dench']
len(c)

0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [72]:
c= cast
c=c[(c.character=='Cary Grant')&(c.year/10==194)&(c.n==2)]
#c.sort('year')
c.sort_values('year')

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

In [67]:
c=cast
c=c[(c.type=='actor')&(c.year/10==195)]
len(c)

16512

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [10]:
titles
#shows partial rows

                                          title  year
0                                The Rising Son  1990
1                       The Thousand Plane Raid  1969
2                              Crucea de piatra  1993
3                                       Country  2000
4                                    Gaiking II  2011
5                                   Medusa (IV)  2015
6                The Fresh Air Will Do You Good  2008
7                            Alex in Wonderland  1970
8                                    L'outsider  2016
9                        Do Outro Lado do Mundo  2008
10                                Slave by Name  2017
11                               The Abductress  2014
12                     Poka Makorer Ghar Bosoti  1996
13                                    Hi, Buddy  1943
14                              Los siete locos  1973
15                                   Panic Room  2002
16                        Io sono un autarchico  1976
17                       Shobhna's Seven Nights  2012
18                                   Mahapurush  1965
19                             Maa Durga Shakti  1999
20                                       Patria  1917
21                               Passenger Side  2009
22                  Ang pumatay ng dahil sa iyo  1989
23                         Conflict of Interest  1993
24                                The Syndicate  2011
25                 Suzanne, professeur de flirt  1916
26                                 Arrive Alive  1990
27                        Tera Mera Saath Rahen  2001
28      The Majestic Life of Queen Elizabeth II  2013
29                                   Velvet Rut  2012
...                                         ...   ...
230591                             Grand Street  2014
230592                       Bangkok Love Story  2007
230593                               Dan xin pu  1980
230594                     La zona del silencio  1990
230595            The Legend of Kate Kensington  2015
230596                             Buynyy Terek  1981
230597                        Time of the Comet  2008
230598                                Agreement  1980
230599                      Monsters University  2013
230600                    This Killing Business  2013
230601       Berlina - Eine Reise ins Ungewisse  1991
230602                  Die Herrgottsgrenadiere  1932
230603                  Meglio baciare un cobra  1986
230604         Mein Mann, das Wirtschaftswunder  1961
230605                             Counterpoint  1967
230606                           Den sidste dag  2004
230607               Take This Job and Shove It  1981
230608                   Le temps de l'aventure  2013
230609                     Dead Rising: Endgame  2016
230610                                  Frakchi  2004
230611               Nie bylo slonca tej wiosny  1984
230612              Clara no es nombre de mujer  2012
230613                                  Benzina  2001
230614                       Kasaysayan ng lahi  1973
230615                           Hu tu nu si ji  1982
230616                    Nobody Waved Good-bye  1964
230617                                    E yue  2005
230618                             Lakota Girls  2015
230619                           Kroniki domowe  1997
230620     Death in the Valley of Good and Evil  2018

[230621 rows x 2 columns]

In [11]:
len(titles)

230621

In [12]:
#titles.head()
#shows first 5 rows of the data frames
#titles.head(8) shows the first 8 rows of the data frames
#Useful for data reduction
h=titles.head()
h

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [13]:
h

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [14]:
h['year']

0    1990
1    1969
2    1993
3    2000
4    2011
Name: year, dtype: int64

In [15]:
h['year']-10000

0   -8010
1   -8031
2   -8007
3   -8000
4   -7989
Name: year, dtype: int64

In [17]:
h['year']//10*10

0    1990
1    1960
2    1990
3    2000
4    2010
Name: year, dtype: int64

In [19]:
#nature attribute name
h.year>1990
#math operator

0    False
1    False
2     True
3     True
4     True
Name: year, dtype: bool

In [22]:
#h[h.year>1980 and h.year<1995]
#and is hard code, so above line will have error

h[(h.year>1980) & (h.year<=1995)] #If you want or:|

              title  year
0    The Rising Son  1990
2  Crucea de piatra  1993

In [26]:
t=titles
#t[t.title=='Macbeth'].sort('year').head()
t[t.title=='Macbeth'].sort('year').tail()

C:\Users\manya\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

          title  year
11539   Macbeth  2013
154409  Macbeth  2014
125469  Macbeth  2015
146810  Macbeth  2016
168225  Macbeth  2017

In [27]:
t.year.order()

C:\Users\manya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

176477    1894
213694    1898
123627    1899
182202    1900
94335     1900
20499     1900
13505     1900
207574    1903
67675     1905
32458     1905
28006     1906
165033    1906
192087    1906
212444    1906
144106    1906
126776    1907
204703    1907
63074     1907
215085    1907
129917    1908
224076    1908
228583    1908
171737    1908
51033     1908
110149    1908
76103     1909
88419     1909
78368     1909
92509     1909
132100    1909
          ...
201515    2022
168929    2022
66518     2022
76795     2022
140604    2022
27278     2022
216165    2022
159641    2022
203617    2022
11178     2022
24402     2022
43162     2022
87799     2022
17902     2022
26367     2022
175168    2022
105445    2023
102920    2023
195252    2023
60981     2023
84800     2023
129223    2023
72041     2023
57164     2023
32955     2023
151139    2023
69547     2023
88310     2024
228030    2025
101854    2026
Name: year, dtype: int64

In [30]:
h = cast.head()
h[h.n.notnull()]
h

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [31]:
c=titles
c[c.title == 'Hamlet']

         title  year
5969    Hamlet  1948
45010   Hamlet  1990
46365   Hamlet  1910
91506   Hamlet  1976
93696   Hamlet  1987
93894   Hamlet  2000
97869   Hamlet  1921
102208  Hamlet  2011
121837  Hamlet  1969
127468  Hamlet  1954
165217  Hamlet  1913
167748  Hamlet  2015
174816  Hamlet  2009
181662  Hamlet  1964
199837  Hamlet  1996
208366  Hamlet  1911
219855  Hamlet  1973
221923  Hamlet  2014